/* Thin */
@font-face {
   font-family: 'Roboto-Local';
   src: url('../font/thin.woff2') format('woff2');
   font-weight: 100;
   font-style: normal;
}
@font-face {
   font-family: 'Roboto-Local';
   src: url('../font/thin-italic.woff2') format('woff2');
   font-weight: 100;
   font-style: italic;
}
/* Light */
@font-face {
   font-family: 'Roboto-Local';
   src: url('../font/light.woff2') format('woff2');
   font-weight: 300;
   font-style: normal;
}
@font-face {
   font-family: 'Roboto-Local';
   src: url('../font/light-italic.woff2') format('woff2');
   font-weight: 300;
   font-style: italic;
}
/* Regular */
@font-face {
   font-family: 'Roboto-Local';
   src: url('../font/regular.woff2') format('woff2');
   font-weight: 400;
   font-style: normal;
}
@font-face {
   font-family: 'Roboto-Local';
   src: url('../font/regular-italic.woff2') format('woff2');
   font-weight: 400;
   font-style: italic;
}
/* Medium */
@font-face {
   font-family: 'Roboto-Local';
   src: url('../font/medium.woff2') format('woff2');
   font-weight: 500;
   font-style: normal;
}
@font-face {
   font-family: 'Roboto-Local';
   src: url('../font/medium-italic.woff2') format('woff2');
   font-weight: 500;
   font-style: italic;
}
/* Bold */
@font-face {
   font-family: 'Roboto-Local';
   src: url('../font/bold.woff2') format('woff2');
   font-weight: 700;
   font-style: normal;
}
@font-face {
   font-family: 'Roboto-Local';
   src: url('../font/bold-italic.woff2') format('woff2');
   font-weight: 700;
   font-style: italic;
}
