*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	font-size: 100%;
	vertical-align: baseline;
}

*[hidden] {
	display: none;
}

article,
aside,
details,
figcaption,
figure,
img,
svg,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
}

img {
	max-width: 100%;
	height: auto;
	border-style: none;
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	white-space: revert;
}

a {
	text-decoration: none;
	color: inherit;
}

a:focus {
	outline: none;
}

a:not([class]) {
	text-decoration-skip-ink: auto;
}

ol,
ul {
	list-style: none;
}

ul[class],
ol[class] {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
