footer {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #222222;
   a {
      padding: 1rem;
      svg {
         width: 25px;
         height: 25px;
      }
   }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
   footer {
      a {
         padding: .7rem;
      }
   }
}